ion-tab-bar {
  background: #fff;
}

.note {
  font-size: 0.7rem;
  color: #fff;
  background: var(--ion-color-tertiary);
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  bottom: 50%;
  right: 8px;
}
